* {
margin: 0;
padding: 0;
box-sizing: border-box;
text-decoration: 0;
font-family: 'Luckiest Guy', sans-serif;
color: white;
}

body {
    font-size: 100%;
    background: linear-gradient(63deg, rgba(15, 37, 56, 0.2) 54.85%, rgba(0, 0, 0, 0) 65.04%), #00F0FF;
border-radius: 61px;
}

.cabeçalho{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    
}

.imgcabeçalho{
    height: 50px;
}

.menu-cab{
display: flex;
padding-left: 700px;
gap: 60px;
}
.cabeçalho1{
    font-size: 27px;
    font-weight: 400;
    font-family: 'Koulen', cursive;
}
.conteudo-geral{
    border-top: 2px solid white ;
}
.titulo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
 }
.conteudo-titulo{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.titulobot{
    font-size: 75px;
    font-weight: 400;
}
.descriçao{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 30px;
}
.botao{
    background-color: blue;
    width: 140px;
    height: 55px;
    border-color: #1472FF;
    border-width: 5px;
    border-style: solid;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    border-radius: 1.5px;
    font-size: larger;
    
}
.botao:hover{
    background-color: rgba(236, 214, 196, 0.53);
}
.perguntas{
    border-top: 5px solid white;
    gap: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.pergunta{
    
    padding-top: 38px;
    font-size: 25px;
    font-weight: 400;
    margin-bottom: 20px;
}
.resposta{
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    font-size: 25px;
}
.rodape{
display: flex;
flex-direction: row;
justify-content: center;
padding: 60px;
}
.img-rodape{
 height: 80px; 
}